<div class="container">
    <h2>Datos de categiria</h2>
    <form [formGroup]="formCategoria" (ngSubmit)="enviar()" class="d-flex row g-3">
      <div class="col-md-6">
        <label for="categoria" class="form-label">Nombre categoria</label>
        <input
          type="text"
          class="form-control"
          id="categoria"
          formControlName="categoria"
        />
      </div>
      <div class="col-md-6">
        <label for="subCategoria" class="form-label">Nombre SubCategoria</label>
        <input
          type="text"
          class="form-control"
          id="subCategoria"
          formControlName="subCategoria"
        />
      </div>
      <div align="end"> 
        <button type="submit" class="btn btn-sm btn-outline-secondary " [disabled]='formCategoria.invalid'>
          Ingresar
        </button>
      </div>      
    </form>
  </div>