<div >
    <h2>Datos de usuario</h2>
    <div class="d-flex row g-3">
      <div class="col-md-6">
        <label for="nameuser" class="form-label">Usuario</label>
        <input
          type="text"
          class="form-control"
          id="nameuser"
          formControlName="nameuser"
        />
      </div>
      <div class="col-md-6">
        <label for="nameuser" class="form-label">Usuario</label>
        <input
          type="text"
          class="form-control"
          id="nameuser"
          formControlName="nameuser"
        />
      </div>
      <div class="d-flex">
        <button type="button" class="btn btn-sm btn-outline-secondary border border-0 rounded-circle">
          <i class="fa-solid fa-circle-plus fa-xl" style="color: #48f409;"></i>
        </button>
      </div>      
    </div>
  </div>