.container{
    margin: 10px;
    justify-content: center;
}

.col-md-5{
        
    padding: 15px;
    margin: 10px;
}

.col-12{
    text-align: center;
}
.form-control{
    border: solid rgb(29, 35, 99) 1px;
}