<body> 

	<div class="container-fluid p-0 d-flex h-100"> 
		<div id="bdSidebar"
			class="d-flex flex-column 
					flex-shrink-0 
					p-3 bg-secondary 
					text-white offcanvas-md offcanvas-start"> 
			<a href="#"
			class="navbar-brand"> 
			</a><hr> 
			<ul class="mynav nav nav-pills flex-column mb-auto"> 
				<li class="nav-item mb-1"> 
					<a href="#"> 
						<i class="fa-regular fa-user"></i> 
						Profile 
					</a> 
				</li> 

				<li class="nav-item mb-1"> 
					<a href="#"> 
						<i class="bi bi-person-vcard-fill"></i>
						Saved Articles 
						<span class="notification-badge">5</span> 
					</a> 
				</li> 
				<li class="nav-item mb-1"> 
					<a href="#"> 
						<i class="fa-regular fa-newspaper"></i> 
						Articles 
					</a> 
				</li> 
				<li class="nav-item mb-1"> 
					<a href="#"> 
						<i class="fa-solid fa-archway"></i> 
						Institutions 
					</a> 
				</li> 
				<li class="nav-item mb-1"> 
					<a href="#"> 
						<i class="fa-solid fa-graduation-cap"></i> 
						Organizations 
					</a> 
				</li> 

				
			</ul> 
			<hr>  
		</div> 

		<div class="bg-light flex-fill"> 
			<div class="p-2 d-md-none d-flex text-white bg-secondary"> 
				<a href="#" class="text-white"
				data-bs-toggle="offcanvas"
				data-bs-target="#bdSidebar"> 
					<i class="fa-solid fa-bars"></i> 
				</a> 
			</div>

		</div> 
	</div> 
</body> 

