<div class="d-flex">
  <app-menu />
  <form
    [formGroup]="formUsuario"
    (ngSubmit)="enviar()"
    class="container d-flex row g-3"
  >
    <div class="col-12">
      <h1>Ingreso de Muelles y Categorías</h1>
    </div>
    <app-muelle 
    class="col-md-4"
    (mensaje)="manejarMensaje($event)"
    (ban)="manejarBan($event)" />
    <app-categoria
      class="col-md-7"
      (mensaje)="manejarMensaje($event)"
      (ban)="manejarBan($event)"
    />
    <div class="col-md-8">
      <app-alert-ok [mensaje]="mensaje" *ngIf="!banOk"/>
      <app-alert-fail [mensaje]="mensaje" *ngIf="ban"/>
    </div>
  </form>
</div>
