 
      <form [formGroup]="formPackage" class="row gx-5">
        <h3>Unidades de empaque</h3>
        <div class="col-sm">
          <div class="form-floating mb-3">
            <input type="number" class="form-control" id="unidad" formControlName="unidad" >
            <label for="unidad">Unidad</label>
          </div>
        </div>
        <div class="col-sm">
          <div class="form-floating mb-3">
            <input type="number" class="form-control" id="blister" formControlName="blister">
            <label for="blister">Unidades por Blister</label>
          </div>
        </div>
        <div class="col-sm">
          <div class="form-floating mb-3">
            <input type="number" class="form-control" id="caja" formControlName="caja">
            <label for="caja">unidades por Caja</label>
          </div>
        </div>
        <div class="col-sm">
          <div class="form-floating mb-3">
            <input type="number" class="form-control" id="pallet" formControlName="pallet">
            <label for="pallet">unidades por Pallet</label>
          </div>
        </div>
        <div class="col-sm">
          <div class="form-floating mb-3">
            <input type="number" class="form-control" id="pieza" formControlName="pieza">
            <label for="pieza">Numero de piezas</label>
          </div>
        </div>
      </form>