<div class="d-flex ">
    <app-menu />
    <form [formGroup]="formProducto" (ngSubmit)="enviar()" class="container d-flex row g-3">
        <div class="col-12">
            <h1>Ingreso de nuevos Productos</h1>
        </div>
        <div class="row gx-5 ">
          <div class="col-sm">
            <div class="form-floating mb-3">
              <input type="number" class="form-control" id="ean" formControlName="ean">
              <label for="ean">EAN</label>
            </div>
          </div>
          <div class="col-sm">
            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="nombre_pro" formControlName="nombre_pro">
              <label for="nombre_pro">Nombre</label>
            </div>
          </div>
          <div class="col-sm">
            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="proveedor" formControlName="proveedor">
              <label for="proveedor">Proveedor</label>
            </div>
          </div>
      </div>
      <div class="row gx-5 ">
        <div class="col-sm-3">
          <div class="form-floating mb-3">
            <select class="form-select form-control" id="categoría" aria-label="Floating label select example" 
            formControlName="categoría" (change)="onSelect()">
              <option *ngFor="let categoria of cat" [value]="categoria" >{{categoria}}</option>
            </select>
            <label for="categoría">Categoría</label>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="form-floating mb-3">
            <select class="form-select" id="subcategoria" aria-label="Floating label select example" formControlName="subcategoria">
              <option *ngFor="let subcat of categoria" [value]="subcat.subnamecat">{{subcat.subnamecat}}</option>
            </select>
            <label for="subcategoria">Subcategoria</label>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-floating mb-3">
            <textarea class="form-control" placeholder="Leave a comment here" id="descripcion" formControlName="descripcion"></textarea>
          <label for="descripcion">Descripción</label>
          </div>
        </div>
    </div>
    <div class="row gx-5 flex-row-reverse">
      <div class="col-sm-2">
        <button type="submit" class="btn btn-secondary" [disabled]="formProducto.invalid" [autofocus]="formProducto.valid">Aceptar</button>
      </div>
      <div class="col-sm-2">
        <button type="button" class="btn btn-success" [disabled]="product.length === 0" (click)="registrar()">Registrar</button>
      </div>
  </div>
  <div class="col-md-8">
    <app-alert-fail [mensaje]="mensaje" *ngIf="banFail"/>
  </div>
    <div class="col-11">
          <table class="table table-hover table-bordered border-secondary">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">EAN</th>
                <th scope="col">Nombre</th>
                <th scope="col">Descripcion</th>
                <th scope="col">Proveedor</th>
                <th scope="col">Categoría</th>
                <th scope="col">Subcategoria</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let product of product; index as i">
                <td >{{i+1}}</td>
                <td >{{product.idproduct}}</td>
                <td >{{product.nameproduct}}</td>
                <td >{{product.descriptionpro}}</td>
                <td >{{product.suplier}}</td>
                <td >{{product.category.namecat}}</td>
                <td >{{product.category.subnamecat}}</td>
                <td >
                  <button type="button" class="btn btn-danger"
                  style="--bs-btn-padding-y: .1rem; --bs-btn-padding-x: .1rem; --bs-btn-font-size: .90rem;"
                  (click)="deleteProduct(i)">
                  <i class="bi bi-trash3"></i>
                  </button>
                  </td>
                
              </tr>
            </tbody>
          </table>
          
        </div>
      </form>
    </div>
