 
      <div class="row gx-5">
        <h3>Unidades de empaque</h3>
        <div class="col-sm">
          <div class="form-floating mb-3">
            <input type="number" class="form-control" id="ean" formControlName="ean">
            <label for="ean">Alto (cm)</label>
          </div>
        </div>
        <div class="col-sm">
          <div class="form-floating mb-3">
            <input type="number" class="form-control" id="ean" formControlName="ean">
            <label for="ean">Ancho (cm)</label>
          </div>
        </div>
        <div class="col-sm">
          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="ean" formControlName="ean">
            <label for="ean">Largo (cm)</label>
          </div>
        </div>
        <div class="col-sm">
          <div class="form-floating mb-3">
            <input type="number" class="form-control" id="ean" formControlName="ean">
            <label for="ean">Cajas por Placha</label>
          </div>
        </div>
        <div class="col-sm">
          <div class="form-floating mb-3">
            <input type="number" class="form-control" id="ean" formControlName="ean">
            <label for="ean">Planachas  por pallet</label>
          </div>
        </div>
    </div>
