
<div class="container">  
  <h2>Datos Muelles</h2>
  <form [formGroup]="formMuelle" (ngSubmit)="enviar()" class="d-flex row g-3">
    <div class="col-md-12">
      <label for="muelle" class="form-label">Nombre Muelle</label>
    <input
      type="text"
      class="form-control"
      id="muelle"
      formControlName="muelle" 
    />
    </div>
    <div align="end"> 
      <button type="submit" class="btn btn-sm btn-outline-secondary " [disabled]="formMuelle.invalid">
        Ingresar
      </button>
    </div> 
  </form>
    
  </div>
